img {
  height: 50px;
  width: 50px;
  margin: 0 10px;
  border: 4px solid rgba(0, 0, 0, 0.253);
}

.browse-area {
  position: relative;
  background: rgba(225, 232, 239, 1.0);
  width: 100%;
  height: 150px;
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.browse-area:hover {
  background: rgba(211, 222, 233, 1.0);
}

.browse-box {
  position: absolute;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  text-align: center;
  border: 1px dashed rgba(35, 73, 113, 1.0);
  padding: 50px;
  color: rgba(35, 73, 113, 1.0);
  z-index: 100;
  transition: all 0.1s ease-in-out;
}

.browse-text {
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  position: absolute;
  text-align: center;
  padding-top: 40px;
}

.file-block {
  padding: 10px;
  background: whitesmoke;
  border-radius: 5px;
  border: 1px solid rgb(177, 177, 177);
  position: relative;
}

.file-remove-btn {
  position: absolute;
  color: rgb(243, 116, 116);
  right: 3px;
  top: 0;
  padding: 3px;
  z-index: 100;
}

.file-remove-btn>i {
  cursor: pointer;
}

.file-remove-btn>i:hover {
  color: rgb(190, 8, 8);
}

.main-status-box {
  border: 1px solid rgba(226, 226, 226, 1.0);
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  line-height: 18px;
  background: rgba(232, 232, 232, 1.0);
  margin-bottom: 10px;
}

.card {
  border: 0px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.12), 0 5px 8px rgba(0, 0, 0, 0.24);
}

.card-body {
  position: relative;
  min-height: 60px !important;
}

.m-minus-10px {
  margin-bottom: -10px;
}

.icon-btn {
  cursor: pointer;
  border-radius: 50%;
  background-color: rgb(228, 228, 228);
  height: 28px;
  width: 28px;
  float: right;
  text-align: center;
  line-height: 28px;
  margin-left: 5px;
  transition: all 0.1s ease-in-out;
}

.icon-btn.text-success>i::before {
  color: rgb(25, 135, 84) !important;
}

.icon-btn.text-success:hover>i::before {
  color: rgb(41, 163, 106) !important;
}

.icon-btn.text-danger>i::before {
  color: rgb(220, 53, 69) !important;
}

.icon-btn.text-danger:hover>i::before {
  color: rgb(255, 94, 110) !important;
}

.file-block-progress-bar {
  position: absolute;
  height: 100%;
  width: 0%;
  background: rgba(224, 224, 224, 1.0);
  top: 0;
  left: 0;
  border-radius: 4px;
  transition: all 0.1s ease-in-out;
}

.close {
  color: rgba(169, 169, 169, 1.0);
  border-radius: 50%;
  background: rgba(241, 241, 241, 1.0);
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 32px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.close:hover {
  color: rgb(99, 91, 92);
  background: rgba(230, 230, 230, 1.0);
}

.modal.fade .modal-dialog {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.modal.fade.show .modal-dialog {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.modal-header {
  padding: 10px 1rem;
}

.filelist-area .card-body {
  overflow-x: hidden;
}

.fileupload-area .card-body {
  overflow-x: hidden;
}

.fileblock-area {
  overflow-y: auto;
  overflow-x: hidden;
  /* max-height: calc(100vh - 326px); */
  border-radius: 5px;
  background: rgba(232, 232, 232, 1.0);
  padding: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: rgba(245, 245, 245, 1.0);
  border-radius: 2px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(245, 245, 245, 1.0);
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgb(141, 148, 167);
  transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(117, 122, 136);
}

.browse-area-disabled {
  background: rgba(255, 255, 255, 0.63);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 101;
  cursor: not-allowed;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 1.2;
}

.modal-header .close {
  padding: 0;
  margin: 0;
}

.btn-group-sm>.btn, .btn-sm {
  font-size: .675rem;
}

.toast-notification-container {
  position: fixed;
  z-index: 2000;
}

.toast-notification-container.tl {
  top: 0;
  left: 0;
}

.toast-notification-container.tr {
  top: 0;
  right: 0;
}

.toast-notification-container.br {
  bottom: 0;
  right: 0;
}

.toast-notification-container.bl {
  bottom: 0;
  left: 0;
}

.toast {
  position: relative;
  width: 20rem;
  margin: 0.9rem;
  background: rgb(255, 255, 255);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15), 0 5px 5px rgba(0, 0, 0, 0.12);
  -webkit-transform: scale(0.2) skew(20deg, 10deg);
  -moz-transform: scale(0.2) skew(20deg, 10deg);
  -o-transform: scale(0.2) skew(20deg, 10deg);
  transform: scale(0.2) skew(20deg, 10deg);
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.toast:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.12);
}

.toast.show {
  -webkit-transform: scale(1) skew(0deg, 0deg);
  -moz-transform: scale(1) skew(0deg, 0deg);
  -o-transform: scale(1) skew(0deg, 0deg);
  transform: scale(1) skew(0deg, 0deg);
  opacity: 1;
}

.toast table {
  border: 0;
}

.toast tr {
  margin: 0;
  padding: 0;
}

.toast td {
  margin: 0;
  padding: 0;
}

.toast.success tr:first-child {
  border-left: 0.3rem solid rgb(40, 167, 69);
}

.toast.error tr:first-child {
  border-left: 0.3rem solid rgb(220, 53, 69);
}

.toast.warning tr:first-child {
  border-left: 0.3rem solid rgb(255, 193, 7);
}

.toast.info tr:first-child {
  border-left: 0.3rem solid rgb(23, 162, 184);
}

.toast tr:first-child {
  border-left: 0.3rem solid rgb(65, 65, 65);
}

.toast .icon {
  font-size: 2rem;
  width: 3.2rem;
}

.toast-body .message {
  word-break: "break-word";
  font-size: 14px;
  margin: 10px;
}

.toast-close {
  cursor: pointer;
  text-align: center;
  color: rgb(195 195 195);
  padding: 10px;
}

.toast-close:hover {
  color: rgb(125 125 125);
}

.timer-progress {
  height: 3px;
  width: 100%;
  background: rgb(187, 187, 187);
  position: relative;
}

.timer-progress div {
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(64, 67, 75);
  height: 3px;
  border: 0;
}

.header {
  height: 50px;
  background: rgb(49, 157, 208);
  color: white;
}

.header button {
  text-align: left;
  text-decoration: none;
  color: white;
  height: 50px;
  border-radius: 0;
  transition: all 0.2s;
}

.header button:hover, .header button:active, .header button:focus {
  text-decoration: none;
  color: white;
}

.nav-item button:hover, .nav-item button:active, .nav-item button:focus {
  background-color: rgba(255, 255, 255, 0.14);
}

.nav-item.active button {
  background-color: rgba(255, 255, 255, 0.363);
  border-bottom: 2px solid rgb(162, 216, 241);
}

.page-area {
  margin-top: 55px;
  background-color: rgb(231, 238, 241);
  border-radius: 5px;
  transition: all 1s ease-in-out;
}

.page-area>.row>.col-sm-12 {
  min-height: 50px;
}

.login-card {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 80px;
}

.not-found {
  margin: 0 auto;
}

.nav-item {
  display: inline !important;
}

.loader-backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.726);
  z-index: 9999;
  transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.loader-backdrop .loader {
  position: absolute;
  width: 100px;
  height: 66px;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -33px;
  text-align: center;
  vertical-align: middle;
}

.block-loader-backdrop {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 5px;
  z-index: 999;
  transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.block-loader-backdrop .loader {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  text-align: center;
  vertical-align: middle;
}

.lds-dual-ring {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid rgb(110, 110, 110);
  border-color: rgb(170, 187, 195) rgb(110, 175, 206) rgb(49, 157, 208) rgba(0, 0, 0, 0);
  animation: lds-dual-ring 0.6s linear infinite;
  -webkit-animation: lds-dual-ring 0.6s linear infinite;
  -moz-animation: lds-dual-ring 0.6s linear infinite;
  -o-animation: lds-dual-ring 0.6s linear infinite;
  animation: lds-dual-ring 0.6s linear infinite;
}

.loader-backdrop .lds-dual-ring {
  width: 40px;
  height: 40px;
}

.loader-backdrop .lds-dual-ring:after {
  width: 40px;
  height: 40px;
  border: 2px solid rgb(110, 110, 110);
  border-color: white white white rgba(0, 0, 0, 0);
}

.lds-dual-ring-inside {
  position: absolute;
  left: 5px;
  top: 5px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.lds-dual-ring-inside:after {
  content: " ";
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
  border: 2px solid rgb(110, 110, 110);
  border-color: rgb(170, 187, 195) rgb(110, 175, 206) rgb(49, 157, 208) rgba(0, 0, 0, 0);
  animation: lds-dual-ring 1s linear infinite;
  -webkit-animation: lds-dual-ring 1s linear infinite;
  -moz-animation: lds-dual-ring 1s linear infinite;
  -o-animation: lds-dual-ring 1s linear infinite;
  animation: lds-dual-ring 1s linear infinite;
}

.loader-backdrop .lds-dual-ring-inside {
  width: 30px;
  height: 30px;
  left: 35px;
  top: 5px;
}

.loader-backdrop .lds-dual-ring-inside:after {
  width: 30px;
  height: 30px;
  border: 2px solid rgb(110, 110, 110);
  border-color: white white white rgba(0, 0, 0, 0);
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-ms-keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-o-keyframes lds-dual-ring {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.navbar-brand {
  font-weight: 700;
  width: 200px;
  color: rgba(190, 231, 249, 1.0) !important;
  background: rgba(19, 111, 154, 1.0);
}

button.navbar-brand:hover, button.navbar-brand:active, button.navbar-brand:focus {
  color: rgba(190, 231, 249, 1.0) !important;
  background: rgba(19, 111, 154, 1.0);
}

.nav-item button {
  font-weight: 400;
  font-size: 15px;
}

.hamburger-menu {
  display: none;
}

#hamburger-main-menu {
  visibility: collapse;
}

@media only screen and (max-width: 960px) {
  .widemenu {
    display: none;
  }
  .hamburger-menu {
    display: block;
    position: absolute;
    right: 10px;
  }
  #hamburger-main-menu {
    visibility: visible;
  }
  .hamburger-menu .btn, .hamburger-menu .btn:hover, .hamburger-menu .btn:active, .hamburger-menu .btn:focus {
    background: rgb(49, 157, 208);
    box-shadow: none;
  }
  .hamburger-menu .btn:hover {
    background: rgb(109, 203, 247) !important;
  }
  #hamburger-main-menu button, #hamburger-main-menu button:hover, #hamburger-main-menu button:active, #hamburger-main-menu button:focus {
    text-align: left;
    text-decoration: none;
    color: white !important;
    background: rgba(0, 0, 0, 0) !important;
    border-width: 0 !important;
    height: 50px;
    border-radius: 0;
    cursor: pointer;
    box-shadow: none !important;
    transition: all 0.2s;
  }
  #hamburger-main-menu li {
    cursor: pointer;
    background: rgba(45, 143, 189, 1.0);
    border-top: 1px solid rgb(27, 128, 175);
    transition: all 0.2s ease-in-out;
  }
  #hamburger-main-menu li:hover {
    background: rgb(68, 166, 204);
  }
  #hamburger-main-menu li.active {
    background-color: rgb(111, 191, 223);
    border-bottom: 2px solid rgb(162, 216, 241);
  }
  #hamburger-main-menu {
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 1000;
  }
  .fileupload-area {
    margin-bottom: 1rem;
  }
}
